@font-face {
  font-family: "SF Pro Rounded";
  src: url("/assets/fonts/SF Pro Rounded/SF-Pro-Rounded.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/assets/fonts/SF Pro Rounded/SF-Pro-Rounded-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/assets/fonts/SF Pro Rounded/SF-Pro-Rounded-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/assets/fonts/SF Pro Rounded/SF-Pro-Rounded-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
